#espacamento{
    padding: 0.3cm;
}


.agrupamento{
    background-color : rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin-top: 5%;
}

.principal{
    font-size: 20px;
    justify-content: center;
    background-image: url(../IMAGENS/mixImagens.png);
    width: 100vw;
    display: flex;
    color: rgb(243, 53, 53);
    background-size: cover;
}

body{
    background-color: black;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: rgb(243, 53, 53);
}

.centro{
    text-align: center;
}

